h1,p{text-align:Justify;font-family:TimesNewRoman;}

.1{text-align:Justify;font-family:TimesNewRoman;color:#9E0025;}
.2{text-align:Justify;font-family:TimesNewRoman;color:#00009C;}
.3{text-align:Justify;font-family:TimesNewRoman;color:#FF4F00;}