body{background-color:#00072D;color:#FFFFFF;}
h1{font-family:Papyrus,Copperplate,fantasy;text-align:center;}
p{font-family:"Times New Roman",times,serif;padding:20px;}`
h2{font-family:"Courier New", "Lucida Console", monospace;}
h3{font-family:"Courier New", "Lucida Console", monospace;}
img{height:200px;width:200px;}
video{height:200px;width270px;}
#Pictures{border:0px;height:100px;width:100px;position:relative;left:300px;}
#Outputs{border:0px;height:100px;width:100px;position:relative;left:510px;bottom:100px;}
#Lessons{border:0px;height:100px;width:100px;position:relative;left:720px;bottom:200px;}
#Reflection{border:0px;height:100px;width:100px;position:relative;left:930px;bottom:300px;}
#i1{border:0px;position:relative;}
#i2{border:0px;position:absolute;left:210px;bottom:269px;}
#i3{border:0px;position:absolute;}
#i4{border:0px;position:absolute;left:210px;top:527px;}
#i5{border:0px;position:absolute;left:413px;top:527px;}
#i6{border:0px;position:absolute;top:730px;}
#i7{border:0px;position:absolute;left:210px;top:730px;}
#i8{border:0px;position:absolute;left:413px;top:730px;}
#i9{border:0px;position:absolute;left:210px;top:1017px;}
#i10{border:0px;position:absolute;top:1220px;}
#i11{border:0px;position:absolute;left:210px;top:1220px;}
#i12{border:0px;position:absolute;left:210px;top:1508px;}
#i13{border:0px;position:absolute;left:413px;top:1508px;}
#i14{border:0px;position:absolute;left:616;top:1508px;}
#i15{border:0px;position:absolute;left:819px;top:1508px;}
#i16{border:0px;position:absolute;top:1710px;}
#i17{border:0px;position:absolute;left:210px;top:1710px;}
#i18{border:0px;position:absolute;left:413px;top:1710px;}
#i19{border:0px;position:absolute;left:210px;top:1998px;}
#i20{border:0px;position:absolute;top:2201px;}
#i21{border:0px;position:absolute;left:210px;top:2201px;}
#i22{border:0px;position:absolute;left:210px;top:2488px;}
#v{border:0px;float:right;position:sticky;top:0px;bottom:0px;}
#l1{border:0px;position:absolute;left:210px;bottom:253px;}
#l2{border:0px;position:absolute;left:413px;bottom:253px;}
#l3{border:0px;position:absolute;left:210px;top:564px;}
#l4{border:0px;position:absolute;left:413px;top:564px;}
#l5{border:0px;position:absolute;left:210px;top:852px;}
#l6{border:0px;position:absolute;left:210px;top:1140px;}
#l7{border:0px;position:absolute;left:413px;top:1140px;}
#l8{border:0px;position:absolute;left:210px;top:1428px;}
#l9{border:0px;position:absolute;left:413px;top:1428px;}
#l10{border:0px;position:absolute;left:210px;top:1715px;}
#l11{border:0px;position:absolute;left:413px;top:1715px;}
#k1{border:0px;position:absolute;}
#k2{border:0px;position:relative;left:210px;}
#k3{border:0px;position:absolute;down:210px;}
#k4{border:0px;position:absolute;down:210;left:219px;}
#k5{border:0px;position:relative;left:419px;}
#k6{border:0px;position:relative;down:210;left:212px;}
#k7{border:0px;position:absolute;left:210;}
#k8{border:0px;position:absolute;left:414;}
#k9{border:0px;position:absolute;left:626;}
#k10{border:0px;position:absolute;left:838;}
#k11{border:0px;position:absolute;left:1040;}
#k12{border:0px;position:relative;left:1252;}
#k13{border:0px;position:absolute;down:210;}
#k14{border:0px;position:Relative;}
#k15{border:0px;position:Relative;left:210px;up:1000px;}
#Pictures4{border:0px;height:100px;width:100px;position:relative;left:530px;}
#Lessons4{border:0px;height:100px;width:100px;position:relative;left:770px;bottom:100px;}